h1 {
    display: block;
    text-align: center;
    border: solid 2px green;
    padding: 5%;
    background-color: aquamarine;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-image: url("https://s7d2.scene7.com/is/image/Caterpillar/CM20201111-b0daa-b899a");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.fondo-blanco {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.404);
    z-index: -1;
}

.mainmaquinas {
    flex: 1;
    align-self: center;
    justify-content: center;
    align-content: center;
    width: 75%;
    border: 1px solid #000;
    padding: 75px;
    flex-wrap: wrap; 
    gap: 100px;
    
}

.mainmaquinas div {
    display: flex;
    background-color: rgba(128, 204, 200, 0.795);
    box-sizing: border-box;
    border: solid 1px #333;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    align-content: flex-end;
    flex-wrap: nowrap;
}

/* ESTILO DEL MAIN PARA EL PRESUPUESTO */

.main-presupuesto{
    display:flex;
    flex-direction: column;
    flex: 1;
    background-color: rgba(240, 248, 255, 0.219);
    text-align: center;
}

.main-presupuesto h2 {
    border: solid 1px;
    width: 50%;
    margin: 20px auto;
    text-align: center;
}

.main-presupuesto a {
    display: inline-block;
    background-color: rgb(209, 240, 230);
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin: 20px auto;
    align-self: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* FINNNN  XD*/

.instructivo-calculadora{
    display: flex;
    width: 60%;
    border: solid 1px;
    align-self: center;
    justify-content: center;
    padding: 10px;
}

.presupuesto-button {
    display: inline-block;
    background-color: rgb(209, 240, 230);
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin: 20px auto;
    align-self: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

footer {
    background-color: #0a66c2;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}